nav {
  text-align: center;
}

#navigation ul{
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#navigation ul li {
  display: inline-block;
  float: left;
  margin: 0px;
}

#navigation ul li a {
  display: inline-block;
  background-color: forestgreen;
  color: white;
  font-family: "Arial",sans-serif;
  text-align: center;
  width: 100px;
  padding: 10px 10px 10px 10px;
}

#navigation ul li a:hover{
  background-color: gray;
  color:black;
  font-weight: bold;
  border-radius: 25px;
}

body{
  background-color: lightgreen;
  margin-left: 10%;
  margin-right: 10%;
}

#contact{
  background-color: whitesmoke;
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 10px;
}